<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<!-- ===================================================================== -->
	<!--  以下是appender的定义                                                 -->
	<!-- ===================================================================== -->
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
	    <layout class="org.apache.log4j.PatternLayout">
	        <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss}][%C-%M]%m%n" />
	    </layout>
	</appender>
	
	<appender name="PROJECT_INFO" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="autoRefresher.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<param name="append" value="true"/>
        <param name="encoding" value="UTF-8"/>
		<param name="threshold" value="info"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%n%d %-5p %c{2}:%L - %m%n"/>
        </layout>
	</appender>

	<!-- ===================================================================== -->
	<!--  以下是logger的定义           ( ERROR、WARN、INFO、DEBUG )            -->
	<!-- ===================================================================== -->
	<logger name="glacier.Shadowsocks" additivity="false">
		<level value="INFO" />
		<appender-ref ref="PROJECT_INFO" />
	</logger>
	<logger name="org.springframework.web.client.RestTemplate" additivity="false">
		<level value="INFO" />
		<appender-ref ref="PROJECT_INFO" />
	</logger>

	<!-- ===================================================================== -->
	<!--  Root logger的定义          ( ERROR、WARN、INFO、DEBUG )              -->
	<!-- ===================================================================== -->
	<root>
		<level value="INFO" />
		<appender-ref ref="PROJECT_INFO" />
	</root>
</log4j:configuration>
